.wrapper{
       position: fixed;
}

.top-users{
    margin-top: 20px;
    p{
        font-size: 18px;
        font-weight: 500;
         color: rgb(133, 131, 131);
    }
}
.line{
    margin-top: 0px;
    border-bottom: 1px solid #999;
    width:80%;
    opacity: 0.5;
}
